<div class="card">
  <div class="profile-picture">
    <div class="profile-picture-outer-radius"></div>
  </div>
  
  <div class="infobox">
    <p class="infobox-username">{{name}}</p>
    <div class="">
      <p class="infobox-email">{{email}}</p>
    <div class="">

  <div class="clear-float" *ngIf="following > 100"> 
    <p class="align-left">Following:</p>
    <p class="align-right">{{following}}</p>  
  </div>

</div>

<div class="clear-float" *ngIf="following > 100">
  <p class="align-left">Followers:</p>
  <p class="align-right">{{followers}}</p>  
</div>
  </div>

  <div class="clear-float" *ngFor="let strength of strengths">
    <p class="align-left">{{strength.text}}</p><p class="align-right">{{strength.level}}</p>  
</div>

<div class="clear-float" *ngFor="let persona of gente" [ngSwitch]="persona.color">
  <div [style.color]="persona.color" *ngSwitchCase="'pink'">
    <p class="align-left">{{persona.name}}</p>
    <p class="align-right">{{persona.color}} {{persona.age}}</p>
    <p class="align-right">{{persona.data[0].sexo}} </p>
  </div>
  <div [style.color]="persona.color" *ngSwitchCase="'white'">
    <p class="align-left">{{persona.name}}</p>
    <p class="align-right">{{persona.color}} {{persona.age}}</p>
    <p class="align-right">{{persona.data.sexo}} </p>
  </div>
</div>
  <div class="floating-action-button"> + </div>
</div>